@model List<Song>
@{
    ViewData["Title"] = "My Song";
}

<div>
    <a class="btn btn-primary mb-3" asp-controller="Song" asp-action="Create">Create new song</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Year</td>
                <td>@item.Rating</td>
                <td>
                    <a class="text-warning" asp-controller="Song" asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a class="text-danger" asp-controller="Song" asp-action="Delete" asp-route-id="@item.SongId">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>